.contenedor{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button{
    background-color: #c3c3c3;
    color: black;
    border: none;
    border-bottom: 2px solid #777777;
    border-radius: 1rem;
    padding: 0.5rem 1.5rem;
    font-size: 2rem;
    cursor: pointer;
    transition-duration: .4s;
}

.button:hover{
    background-color: rgb(250, 171, 0);
    border-bottom:2px solid rgb(189, 129, 0);
    color: white;
}

